.jp-AuthWidget {
  padding: 10px;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
/*  align-items: center; */
}
