.jp-AuthWidget {
  padding: 10px;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
/*  align-items: center; */
}

.user-img {
  margin: 2px;
  width: 25px;
  height: 25px;
  border-radius: 90px;
  fill: var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

.topbar-spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.login-menu {
  width: 200px;
  position: fixed;
  top: 35px;
  right: 3px;
  background: var(--jp-layout-color1);
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 100;
}

.login-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.login-menu ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
}

.login-menu li {
  list-style: none;
  margin: auto;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.login-menu hr {
  border-color: var(--jp-ui-font-color1);
}

.login-menu li div {
  margin: auto;
}

.login-menu li div span {
  color: var(--jp-ui-font-color1);
}

.login-menu li a {
  margin: auto;
}

.login-menu li a span {
  color: var(--jp-ui-font-color1);
}

.login-menu .login-menu-clickable:hover {
  background: var(--jp-layout-color3);
}